<div class='side-header'>
  <div class='header-name'>
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="new-room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class='side-main'>
  <ul class="room-lists">
    <% 10.times do %>
      <li class="room-list"><a href="#">Room</a></li>
    <% end %>
  </ul>
</div>