<div class='side-header'>
  <div class='header-name'>
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <a href="#" class="new-room btn">チャットを作成する</a>
</div>
<div class='side-main'>
  <ul class="room-lists">
    <% 10.times do %>
      <li class="room-list"><a href="#">Room</a></li>
    <% end %>
  </ul>
</div>